<div class="container">
    <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseN" aria-expanded="false"
                aria-controls="collapseN">
            Liste des Modèles
        </button>
    </div>


    <div class="collapse container-fluid" id="collapseN">
        <div class="mt-4">
            <button type="button" class="btn btn-primary">Modèle 1</button>
        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-primary">Modèle 1</button>
        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-primary">Modèle 1</button>
        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-primary">Modèle 1</button>
        </div>
    </div>
</div>