{% import 'macros.twig' as macros %}

<div class="container-fluid mt-4 pt-4 mb-4">
    <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseModels" aria-expanded="false"
                aria-controls="collapseModels">
            Liste des Modèles
        </button>
    </div>


    <div class="collapse container-fluid mt-4" id="collapseModels">
        <div class="row">
            {% for class, ids in modelIds.items() %}
                {{ macros.listModels(class , ids) }}
            {% endfor %}
        </div>
    </div>



</div>